# Auto detect text files and perform LF normalization
* text=auto

# C# files
*.cs text diff=csharp

# Solution and project files
*.sln text eol=crlf
*.csproj text eol=crlf

# Web files
*.razor text
*.html text
*.css text
*.js text

# Docker files
Dockerfile text
*.yml text
*.yaml text

# Documents
*.md text diff=markdown
*.txt text

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary