## .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/
*.sln.iml

## Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Node.js (falls wir später JavaScript-Bibliotheken einbinden)
node_modules/
npm-debug.log

## Misc
*.swp
*.*~
.DS_Store
Thumbs.db